*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
    border-radius: 5rem;
    
}
.card{
    box-shadow: rgba(0, 0, 0, 24) 0px 3px 8px;
    border-radius: 3rem;
    background-color: white;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}
.image{
    background: url(/images/image-product-desktop.jpg) no-repeat center center/cover;
    width: 715px;
    height: 457px;
}
.perfume-info{
    background-color: white;
    padding: 2rem;
}
.title {
    text-transform: uppercase;
    letter-spacing: 4px;
}
.product-name{
    font-size: 2rem;
    margin: 1.5rem 0;
}
.description{
    margin-bottom: 1.3rem;
}
 
.price{
    display: flex;
    align-items: center;
}
.discount-price,
.initial-price {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color:hsl(158, 36%, 37%);
}
.discount-price + .initial-price{
    font-size: 14px;
    color:  hsl(228, 12%, 48%);
    padding: 0 1.2rem;
    text-decoration: line-through;
}
.btn{
    display: inline-block;
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 450;
    color: white;
    text-align: center;
    padding: 0.75rem;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: hsl(158, 36%, 37%);
    transition: 0.4s ease-in-out;
}
@media (max-width: 668px){
    .card{
        flex-direction: column;
        margin: 0 2rem;
        width: 100%;
    }

        .image{
            height: 250px;
            background: url('/images/image-product-mobile.jpg') no-repeat center center/cover;
        }
    }
    footer{
        display: block;
        position: fixed;
        right: 1rem;
        background-image: url('/images/favicon-32x32.png');
        background-size: 100%;
        height: 3rem;
        width: 3rem;
        border-radius: 100%;
        z-index: 99;
        padding: 1rem;
        border: 1px solid hsl(233, 11%, 84%);
        bottom: 1rem;

    }
        
    



.attribution { 
    font-size: 11px; 
    text-align: center; 

}
a:hover{
    opacity: 0.5;
}
    .attribution a { color: hsl(228, 45%, 44%); }